.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.areas {
  height: 100vh;
  width: 100%;
}

.content {
  background: lightgreen;
}

.time {
  position: relative;
  margin: 0 -100% 0 0;
  background: lightpink;
}

.swipe-right-content {
  -webkit-animation: right-content 0.5s 0.3s both;
          animation: right-content 0.5s 0.3s both;
}

.swipe-right-time {
  -webkit-animation: right-time 0.5s 0.3s both;
          animation: right-time 0.5s 0.3s both;
}

.swipe-left-content {
  -webkit-animation: left-content 0.5s 0.3s both;
          animation: left-content 0.5s 0.3s both;
}

.swipe-left-time {
  -webkit-animation: left-time 0.5s 0.3s both;
          animation: left-time 0.5s 0.3s both;
}

@-webkit-keyframes right-content {
  0% {
    margin: 0 0 0 -100%;
  }
  100% {
    margin: 0;
  }
}

@keyframes right-content {
  0% {
    margin: 0 0 0 -100%;
  }
  100% {
    margin: 0;
  }
}

@-webkit-keyframes right-time {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 -100% 0 0;
  }
}

@keyframes right-time {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 -100% 0 0;
  }
}

@-webkit-keyframes left-content {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 0 0 -100%;
  }
}

@keyframes left-content {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 0 0 -100%;
  }
}

@-webkit-keyframes left-time {
  0% {
    margin: 0 -100% 0 0;
  }
  100% {
    margin: 0;
  }
}

@keyframes left-time {
  0% {
    margin: 0 -100% 0 0;
  }
  100% {
    margin: 0;
  }
}
