@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.app {
  font-family: 'OpenSans', Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.touch {
  min-height: calc(100vh - 86px);
}

.areas {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.content {
  border-right: 3px solid #1E90FF;
}

.content__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px;
}

.content__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 85px 10px 10px;
  width: 100%;
  font-size: 12px;
  color: #1E90FF;
  border: 2px solid #1E90FF;
  border-radius: 5px;
  outline: none;
}

.content__btn {
  position: absolute;
  content: '';
  right: 20px;
  top: 25px;
  height: 35px;
  width: 65px;
  color: #1E90FF;
  background: transparent;
  border: 2px solid #1E90FF;
  border-radius: 5px;
  -webkit-transition: .1s;
  transition: .1s;
}

.content__btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.content__messages {
  padding: 12px;
}

.message {
  margin: 10px 0 10px -1000px;
  -webkit-animation: show-message 0.3s 0.2s both;
          animation: show-message 0.3s 0.2s both;
}

.text {
  display: inline-block;
  padding: 10px;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  word-break: break-all;
  max-width: 250px;
  background: #1E90FF;
  border-radius: 8px;
}

.time {
  position: relative;
  margin: 0 -100% 0 0;
}

.swipe-right-content {
  -webkit-animation: right-content 0.5s 0.3s both;
          animation: right-content 0.5s 0.3s both;
}

.swipe-right-time {
  -webkit-animation: right-time 0.5s 0.3s both;
          animation: right-time 0.5s 0.3s both;
}

.swipe-left-content {
  -webkit-animation: left-content 0.5s 0.3s both;
          animation: left-content 0.5s 0.3s both;
}

.swipe-left-time {
  -webkit-animation: left-time 0.5s 0.3s both;
          animation: left-time 0.5s 0.3s both;
}

@-webkit-keyframes right-content {
  0% {
    margin: 0 0 0 -100%;
  }
  100% {
    margin: 0;
  }
}

@keyframes right-content {
  0% {
    margin: 0 0 0 -100%;
  }
  100% {
    margin: 0;
  }
}

@-webkit-keyframes right-time {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 -100% 0 0;
  }
}

@keyframes right-time {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 -100% 0 0;
  }
}

@-webkit-keyframes left-content {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 0 0 -100%;
  }
}

@keyframes left-content {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 0 0 -100%;
  }
}

@-webkit-keyframes left-time {
  0% {
    margin: 0 -100% 0 0;
  }
  100% {
    margin: 0;
  }
}

@keyframes left-time {
  0% {
    margin: 0 -100% 0 0;
  }
  100% {
    margin: 0;
  }
}

@-webkit-keyframes show-message {
  0% {
    margin: 10px 0 10px -1000px;
  }
  100% {
    margin: 10px 0;
  }
}

@keyframes show-message {
  0% {
    margin: 10px 0 10px -1000px;
  }
  100% {
    margin: 10px 0;
  }
}
