@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.app {
  font-family: 'OpenSans', Arial, Helvetica, sans-serif;
  display: flex;
  overflow: hidden;
  //background: #00BFFF;
}

.touch {
  min-height: calc(100vh - 86px);
}

.areas {
  box-sizing: border-box;
  width: 100%;
}

.content {
  border-right: 3px solid #1E90FF;

  &__control {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding: 10px;
  }

  &__textarea {
    box-sizing: border-box;
    
    padding: 10px 85px 10px 10px;

    width: 100%;

    font-size: 12px;
    color:#1E90FF;

    border: 2px solid #1E90FF;
    //background: #87CEFA;
    border-radius: 5px;

    outline: none;
  }

  &__btn {
    position: absolute;
    content: '';

    right: 20px;
    top: 25px;

    height: 35px;
    width: 65px;

    color: #1E90FF;
    background: transparent;
    border: 2px solid #1E90FF;
    border-radius: 5px;
    transition: .1s;
    &:active {
      transform: scale(.9);
    }
  }

  &__messages {
    padding: 12px;
  }
}

.message {
  margin: 10px 0 10px -1000px;
  animation: show-message 0.3s 0.2s both;
}

.text {
  display: inline-block;

  padding: 10px;

  font-size: 13px;
  line-height: 18px;
  color: #fff;
  word-break: break-all;

  max-width: 250px;

  background: #1E90FF;
  border-radius: 8px;
}

.time {
  position: relative;
  margin: 0 -100% 0 0;
}

.swipe-right-content {
  animation: right-content 0.5s 0.3s both;
}

.swipe-right-time {
  animation: right-time 0.5s 0.3s both;
}

.swipe-left-content {
  animation: left-content 0.5s 0.3s both;
}

.swipe-left-time {
  animation: left-time 0.5s 0.3s both;
}

@keyframes right-content {
  0% {
    margin: 0 0 0 -100%;
  }
  100% {
    margin: 0;
  }
}

@keyframes right-time {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 -100% 0 0;
  }
}

@keyframes left-content {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 0 0 -100%;
  }
}

@keyframes left-time {
  0% {
    margin: 0 -100% 0 0;
  }
  100% {
    margin: 0;
  }
}

@keyframes show-message {
  0% {
    margin: 10px 0 10px -1000px;
  }
  100% {
    margin: 10px 0;
  }
}