.app {
  display: flex;
  overflow: hidden;
}

.touch {
  height: 100vh;
}

.areas {
  height: 100vh;
  width: 100%;
}

.content {
  background: lightgreen;
}

.time {
  position: relative;
  margin: 0 -100% 0 0;
  background:lightpink;
}

.swipe-right-content {
  animation: right-content 0.5s 0.3s both;
}

.swipe-right-time {
  animation: right-time 0.5s 0.3s both;
}

.swipe-left-content {
  animation: left-content 0.5s 0.3s both;
}

.swipe-left-time {
  animation: left-time 0.5s 0.3s both;
}

@keyframes right-content {
  0% {
    margin: 0 0 0 -100%;
  }
  100% {
    margin: 0;
  }
}

@keyframes right-time {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 -100% 0 0;
  }
}

@keyframes left-content {
  0% {
    margin: 0;
  }
  100% {
    margin: 0 0 0 -100%;
  }
}

@keyframes left-time {
  0% {
    margin: 0 -100% 0 0;
  }
  100% {
    margin: 0;
  }
}